.header__heading1 {
    font-size: 32px;
    color: rgb(248, 238, 238);
}

.header__heading2 {
    font-size: 18px;
}

.header__paragraph {
    font-size: 14px;
}

.footer__parent {
    padding: 0 2rem;
    margin-top: 8rem;
    grid-column: full-start / full-end;
    background-color: #131313;
    color: rgb(248, 238, 238);
    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
}

.footer__body {
    margin-top: 8rem;
    margin-bottom: 8rem;
    grid-column: center-start / center-end;

    display: grid;
    grid-gap: 8rem;
}

.footer__sub_body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
    justify-items: center;
    grid-gap: 3rem;
}

.nav-links {
    align-items: center;
}

.footer__social_link {
    display: flex;
    flex-wrap: wrap;
}

.footer__privacy {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.footer__social_list {
    margin-left: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.social__icon img {
    width: 30px;
    padding-left: 1rem;
    filter: invert(.8);
}