.container {
  margin: 6rem 0;
  display: grid;
  grid-template-rows: repeat(7, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    ) [center-end] 1fr [full-end];
  z-index: -1;
  padding: 0 2rem;
}

.gallery {
  grid-row: 1;
  grid-column: full-start / full-end;
  margin: 2rem 2rem 12rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}


.gallery .img img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.about_img img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.gallery__text {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: start;
  grid-gap: 1rem;
  padding-top: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4rem;
}

.btn {
  background-color: #131313;
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: normal;
  padding: 1rem 2rem;
}

.about {
  grid-row: 2;
  margin: 15rem 2rem;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6rem;
}

.pricing {
  
  grid-row: 5;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 16rem) [col-end]
    ) [center-end] 1fr [full-end];
    padding: 8rem 0;
}

.pricing__header {
  margin-top: 8rem;
  margin-bottom: 8rem;
  grid-column: center-start / center-end;
  text-align: center;
}
.pricing__body {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 2rem;
}

.pricing__text {
  padding: 8rem 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-gap: 3rem;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  border: 1px solid #E8EAED;
}

.pricing__text div{
  display: grid;
  grid-gap: 1rem;
}

.pricing1 {
  font-size: 36px;
  color: #131313;
}

.pricing2 {
  font-size: 36px;
  color: #636468;
}

.pricingp {
  font-weight: bold;
}

.about__text {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: start;
  grid-gap: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.about__text div {
  display: grid;
  grid-gap: 1rem;
}

.looking {
  grid-row: 3;
  grid-column: full-start / full-end;
  color: #ffffff;
  background-color: #131313;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    ) [center-end] 1fr [full-end];
    padding: 8rem 0;
}

.who {
  margin: 8rem 0;
  grid-row: 6;
  grid-column: full-start / full-end;
  color: #ffffff;
  background-color: #131313;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    ) [center-end] 1fr [full-end];
    padding: 8rem 0;
}

.work {
  grid-row: 4;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    ) [center-end] 1fr [full-end];
    padding: 8rem 0;
    margin-top: 8rem;

}

.touch {
  grid-row: 7;
  grid-column: center-start / center-end;
  display: grid;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    ) [center-end] 1fr [full-end];
    padding: 8rem 0;
    margin-top: 2rem;
}

.looking__body {
  grid-column: center-start / center-end;
  display: grid;
  grid-gap: 6rem;
  align-content: center;
  justify-content: center;
  padding: 0 2rem;
}

.who__body {
  grid-column: center-start / center-end;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 2rem;
}

.work__body {
  grid-column: center-start / center-end;
  display: grid;
  grid-gap: 6rem;
}

.touch__body {
  grid-column: center-start / center-end;
  display: grid;
  grid-gap: 6rem;
}


.looking__header {
  text-align: center;
  
}

.who__header {
  text-align: center;
  display: grid;
  grid-gap: 1rem;
}

.work__header {
  text-align: center;
}

.touch__header {
  text-align: center;
}


.looking__features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));   
    grid-gap: 6rem;
    align-items: start;text-align: center;
}

.work__features {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));   
    grid-gap: 6rem;
    align-items: start;
    text-align: left;
    
    
}

.touch__features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 6rem;
  text-align: center
}

.touch__features div img {
  width: 24px;
  filter: invert(.4);
}

.h1icon {
  margin-left: auto;
}
.feature h1{
  padding-bottom: 1rem;

}

.work_feature {
  border: 1px solid #E8EAED;
  display: grid;
  grid-gap: 1rem;
  padding: 2rem 2rem;
}



.touch_feature {
  border: 1px solid #E8EAED;
  display: grid;
  grid-gap: .5rem;
  padding: 3rem 2rem;
}
.work_feature div{
  display: flex;
}